*{
    box-sizing: border-box;
}
p{
    text-transform: uppercase;
    font-family: arial;
    font-weight: bold;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
}
.wrapper{
    display: grid;
}
.homework{
    background-color: rgb(223, 39, 70);
}
.broken{
    background-color: cyan;
}
.infinity{
    background-color: yellow;
}
div{
    margin: 0.3em;
    padding: 1em;
}

@media(min-width: 500px){
    .wrapper{
        grid-template-columns: 1fr 1fr;
    }
}
